@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "nanum";
  src: url("../font/나눔손글씨 강인한 위로.ttf") format("truetype");
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-size: 18px;
}

.innerBox {
  width: 90%;
  margin: 0 auto;
}

header .headTop {
  position: relative;
}
header .headTop .logo {
  display: inline-block;
  width: 100px;
}
header .headTop .logo a {
  display: block;
  width: 100%;
}
header .headTop .logo a img {
  width: 100%;
}
header .headTop nav {
  position: absolute;
  width: 100%;
  margin-top: 50px;
  padding: 0 0 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 999;
}
header .headTop nav > .innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .headTop nav > .innerBox .gnb {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 999;
}
header .headTop nav > .innerBox .gnb li {
  width: 100%;
  height: 100%;
}
header .headTop nav > .innerBox .gnb li a {
  display: block;
  width: 100%;
  font-size: 1em;
  color: #fff;
  padding: 45px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop nav > .innerBox .gnb li.active a {
  color: skyblue;
}
header .headTop nav > .innerBox .gnb li .lnb {
  display: none;
}
header .headTop nav > .innerBox .gnb li .lnb .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li {
  width: calc(100% / 5);
}
header .headTop nav > .innerBox .gnb li .lnb .list > li > a {
  display: block;
  width: 100%;
  padding: 30px 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li > a:hover {
  color: skyblue;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li ul li {
  width: 100%;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li ul li a {
  display: block;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8em;
  color: #fff;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li ul li a:hover {
  color: skyblue;
}
header .headTop nav > .innerBox .gnb li .lnb .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 550px;
  width: 70%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
header .headTop nav > .innerBox .gnb li .lnb .all li {
  width: calc(100% / 5);
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop nav > .innerBox .gnb li .lnb .all li a {
  display: block;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 0.8em;
}
header .headTop nav > .innerBox .gnb li .lnb .all li a:hover {
  background: #fff;
  color: #333;
}
header .headTop nav > .innerBox .gnb li .kidsLnb .list {
  padding-bottom: 270px;
}
header .headTop nav > .innerBox .gnb li .sportsLnb .list {
  padding-bottom: 160px;
}
header .headTop nav > .innerBox .gnb li .brandLnb .list {
  padding-bottom: 200px;
}
header .headTop nav .lnbBg {
  display: none;
  position: absolute;
  width: 100%;
  height: 550px;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
header .headTop .infoBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .headTop .infoBtn li {
  width: 90px;
  text-align: center;
}
header .headTop .infoBtn li a {
  display: block;
  width: 100%;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop .infoBtn li a img {
  display: block;
  width: 90%;
}
header .headTop .infoBtn li:last-child a {
  border-left: 2px solid #fff;
}
header .headTop .mobileHead {
  display: none;
}
header .headBottom {
  position: relative;
}
header .headBottom .myBanner {
  width: 100%;
  height: 970px;
  position: relative;
  overflow: hidden;
}
header .headBottom .myBanner .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 1em;
  position: relative;
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide > .innerBox {
  position: absolute;
  bottom: 50px;
  text-align: left;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide > .innerBox .bannerSub {
  color: #fff;
  font-size: 1em;
  display: block;
  margin-bottom: 5px;
  padding-left: 2px;
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide > .innerBox .bannerTitle {
  color: #fff;
  font-size: 2.2em;
  font-weight: 600;
}
header .headBottom .myBanner > .innerBox {
  position: absolute;
  bottom: 10px;
  height: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
}
header .headBottom .myBanner > .innerBox .swiper-button-next, header .headBottom .myBanner > .innerBox .swiper-button-prev {
  display: inline-block;
  position: absolute;
  left: 300px;
}
header .headBottom .myBanner > .innerBox .swiper-button-next a, header .headBottom .myBanner > .innerBox .swiper-button-prev a {
  display: block;
  width: 50px;
  border: 1px solid #fff;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headBottom .myBanner > .innerBox .swiper-button-next a img, header .headBottom .myBanner > .innerBox .swiper-button-prev a img {
  display: block;
  width: 10px;
}
header .headBottom .myBanner > .innerBox .swiper-button-next {
  left: 360px;
}
header .headBottom .myBanner > .innerBox .swiper-pagination {
  display: block;
  width: 350px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  z-index: 995;
  text-align: left;
}
header .headBottom .myBanner > .innerBox .swiper-pagination span {
  display: inline-block;
  width: 25%;
  height: 3px;
  background: #fff;
  border-radius: 0;
}
header .headBottom .myBanner > .innerBox .swiper-pagination span.action {
  background: #777;
}

#container {
  overflow: hidden;
}
#container .themBtn {
  padding: 80px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .themBtn > .innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
#container .themBtn > .innerBox > div {
  width: 32.5%;
  position: relative;
  margin-left: 10px;
}
#container .themBtn > .innerBox > div a {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}
#container .themBtn > .innerBox > div a img {
  display: block;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#container .themBtn > .innerBox > div a .themTitle {
  position: absolute;
  bottom: 1em;
  left: 1em;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
#container .themBtn > .innerBox > div a .hoverTitle {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.6em;
  border: 1px solid #fff;
  padding: 1em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 999;
}
#container .themBtn > .innerBox > div a .hoverBg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
#container .themBtn > .innerBox > div a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#container .themBtn > .innerBox > div a:hover .themTitle {
  opacity: 0;
}
#container .themBtn > .innerBox > div a:hover .hoverTitle {
  opacity: 1;
}
#container .themBtn > .innerBox > div a:hover .hoverBg {
  opacity: 1;
}
#container .themBtn > .innerBox > div:first-child {
  margin-left: 0;
}
#container .sportsBox {
  clear: both;
  padding: 0 0 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .sportsBox .innerBox a {
  display: block;
  width: 100%;
  position: relative;
}
#container .sportsBox .innerBox a .bg {
  width: 100%;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
}
#container .sportsBox .innerBox a .logo {
  display: block;
  width: 12%;
  position: absolute;
  left: 35%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
#container .sportsBox .innerBox a .sportsTitle {
  display: block;
  position: absolute;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 48%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: 2.3em;
  font-weight: 600;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}
#container .sportsBox .innerBox a .hoverTitle {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.6em;
  border: 1px solid #fff;
  padding: 1em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  z-index: 999;
  text-align: center;
}
#container .sportsBox .innerBox a .hoverBg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
#container .sportsBox .innerBox a:hover .logo, #container .sportsBox .innerBox a:hover .sportsTitle {
  opacity: 0;
}
#container .sportsBox .innerBox a:hover .hoverTitle, #container .sportsBox .innerBox a:hover .hoverBg {
  opacity: 1;
}
#container .newProduct {
  padding: 50px 0 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .newProduct .innerBox h2 {
  font-size: 2em;
}
#container .newProduct .innerBox .bar {
  display: block;
  margin: 20px 0;
  width: 100px;
  height: 5px;
  background: #333;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide {
  margin-right: 10px;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide .proImgBox {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide .proImgBox img {
  display: block;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide .proImgBox:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide .proTxtBox span {
  display: block;
  margin-top: 10px;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide .proTxtBox .proTitle {
  font-size: 1em;
  font-weight: 600;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide .proTxtBox .proSub {
  font-size: 0.8em;
  color: #999;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide .proTxtBox .proPrice {
  font-size: 0.9em;
  font-weight: 500;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide .proTxtBox .newMsg {
  font-size: 0.8em;
  color: #333;
}
#container .newProduct .innerBox .proSwiper .swiper-wrapper .swiper-slide .proTxtBox:hover .proTitle {
  color: #1f47b4;
}
#container .newProduct .innerBox .proSwiper .swiper-pagination {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#container .newProduct .innerBox .proSwiper .swiper-pagination span {
  margin-top: 60px;
  display: inline-block;
  border-radius: 0;
  width: 50px;
  height: 5px;
}
#container .newProduct .innerBox .proSwiper .swiper-pagination span.swiper-pagination-bullet-active {
  background: #333;
}
#container .style {
  width: 100%;
  padding: 50px 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/styleBack.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/styleBack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#container .style .innerBox {
  text-align: center;
  width: 70%;
}
#container .style .innerBox .styleTitle {
  display: block;
  padding: 15px 0;
  color: #fff;
  font-size: 4em;
  font-weight: 400;
  font-family: "nanum";
}
#container .style .innerBox .myStyling {
  width: 100%;
  overflow: hidden;
}
#container .style .innerBox .myStyling .swiper-wrapper .swiper-slide {
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .style .innerBox .myStyling .swiper-wrapper .swiper-slide a {
  display: block;
  width: 99%;
  border: 1px solid #fff;
  overflow: hidden;
}
#container .style .innerBox .myStyling .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}
#container .style .innerBox .myStyling .swiper-wrapper .swiper-slide a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#container .style .innerBox .myStyling .swiper-button-next {
  right: 10%;
  width: 4%;
  height: 4%;
}
#container .style .innerBox .myStyling .swiper-button-next a {
  display: block;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40%;
}
#container .style .innerBox .myStyling .swiper-button-next a img {
  display: block;
  width: 100%;
}
#container .style .innerBox .myStyling .swiper-button-prev {
  left: 10%;
  width: 4%;
  height: 4%;
}
#container .style .innerBox .myStyling .swiper-button-prev a {
  display: block;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40%;
}
#container .style .innerBox .myStyling .swiper-button-prev a img {
  display: block;
  width: 100%;
}
#container .adiClub {
  margin-top: 10px;
  width: 100%;
  height: 600px;
  background-image: url(../images/adiclub.jpg);
  position: relative;
}
#container .adiClub .innerBox {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#container .adiClub .innerBox p {
  font-size: 1.2em;
  color: #fff;
}
#container .adiClub .innerBox a {
  display: block;
  width: 20%;
  margin: 30px auto 0;
  border: 1px solid #fff;
  padding: 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
}
#container .adiClub .innerBox a:hover {
  background: #fff;
  color: #333;
}
#container .siteMap {
  margin: 100px 0;
}
#container .siteMap .innerBox > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#container .siteMap .innerBox > ul > li {
  text-align: center;
}
#container .siteMap .innerBox > ul > li > a {
  display: block;
  width: 100%;
  font-size: 1.2em;
  font-weight: 600;
}
#container .siteMap .innerBox > ul > li > a:hover {
  color: #1f47b4;
}
#container .siteMap .innerBox > ul > li span {
  position: relative;
  display: block;
  width: 50px;
  height: 3px;
  background: #333;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 30px 0 18px;
}
#container .siteMap .innerBox > ul > li ul li {
  width: 100%;
}
#container .siteMap .innerBox > ul > li ul li a {
  display: block;
  width: 100%;
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .siteMap .innerBox > ul > li ul li a:hover {
  font-weight: 500;
  color: #1f47b4;
}

footer {
  width: 100%;
  background: #333;
  padding: 50px 0;
}
footer .innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .innerBox .footLeft {
  width: 19%;
  text-align: center;
}
footer .innerBox .footRight {
  width: 75%;
}
footer .innerBox .footRight .footMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .innerBox .footRight .footMenu li a {
  display: block;
  width: 100%;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 0.8em;
  font-weight: 600;
  border-right: 1px solid #fff;
}
footer .innerBox .footRight .footMenu li:first-child a {
  padding-left: 0;
}
footer .innerBox .footRight .footMenu li:last-child a {
  border-right: 0;
}
footer .innerBox address p {
  font-size: 0.8em;
  color: #fff;
  margin-top: 10px;
}
footer .innerBox address p:last-child {
  color: #999;
}

.bottomNav {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9993;
  width: 100%;
  height: 75px;
  background: #fff;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.bottomNav .bottomGnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottomNav .bottomGnb li {
  width: calc(100% / 5);
}
.bottomNav .bottomGnb li a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.bottomNav .bottomGnb li a img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.bottomNav .bottomGnb li a span {
  display: block;
  width: 100%;
  font-size: 0.8em;
  margin-top: 5px;
  text-align: center;
}

@media (max-width: 1440px) {
  #container .sportsBox > .innerBox a .titleLogo .sportsTitle {
    left: 30%;
  }
}
@media (max-width: 1100px) {
  body {
    font-size: 16px;
  }

  #container .themBtn .innerBox > div {
    width: 32.1%;
  }
  #container .sportsBox > .innerBox a .logo {
    width: 10%;
    left: 37%;
  }
  #container .sportsBox > .innerBox a .sportsTitle {
    font-size: 1.6em;
    left: 48%;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  header .headTop {
    padding-top: 100px;
  }
  header .headTop nav {
    display: none;
    margin-top: 0;
    padding-bottom: 0;
  }
  header .headTop .mobileHead {
    display: block;
    position: absolute;
    top: 0;
    padding: 25px 0;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox .logo {
    float: left;
  }
  header .headTop .mobileHead .innerBox .logo a {
    display: block;
    width: 70%;
  }
  header .headTop .mobileHead .innerBox .logo a img {
    display: block;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox .hamB {
    float: right;
  }
  header .headTop .mobileHead .innerBox .hamB a {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 58%;
    width: 35px;
    height: 23.5px;
    background-image: url(../images/hamberger.png);
    background-size: 100%;
    margin-top: -15.5px;
    font-size: 3em;
    z-index: 997;
  }
  header .headTop .mobileHead .innerBox .hamB a:hover {
    background-position: left bottom;
  }
  header .headTop .mobileHead .innerBox #mNav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background: #333;
    z-index: 9999;
    display: block;
    overflow: auto;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox {
    position: relative;
    width: 100%;
    height: 150px;
    background: #333;
    z-index: 9999;
    padding: 30px 20px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .menuLogo {
    width: 60px;
    float: left;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .menuLogo a {
    display: block;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .menuLogo a img {
    display: block;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mSearch {
    clear: both;
    width: 100%;
    height: 40px;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mSearch input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1em;
    font-weight: 500;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mSearch i {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 1.2em;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mClose {
    text-align: right;
    width: 30px;
    float: right;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mClose a {
    display: block;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mClose a img {
    padding: 3px 0;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb {
    display: block;
    width: 100%;
    background: #333;
    z-index: 9998;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li {
    padding: 0 20px;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li > a {
    font-size: 1em;
    color: #fff;
    display: block;
    line-height: 3;
    background-image: url(../images/gnbArrow_downW.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: 600;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li > a.active {
    background-image: url(../images/gnbArrow_upW.png);
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li:last-child > a {
    background-image: none;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li:last-child > a.active {
    background-image: none;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub {
    display: none;
    background: #555;
    position: static;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub > li > a {
    display: block;
    color: #fff;
    line-height: 2;
    text-indent: 20px;
    border-bottom: 1px solid #fff;
    background-image: url(../images/mSubArrow_down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    border-bottom: 1px solid #999;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 0.9em;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub > li > a.active {
    background-image: url(../images/mSubArrow_up.png);
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub > li .mThird {
    display: none;
    background: #fff;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub > li .mThird li a {
    display: block;
    color: #333;
    line-height: 2;
    text-indent: 30px;
    border-bottom: 1px solid #333;
    font-size: 0.8em;
    padding: 10px 0;
  }
  header .headTop .mobileHead .innerBox #mNav .basicMenuBox {
    width: 100%;
    _height: 0;
    background: #333;
    z-index: 9999;
  }
  header .headTop .mobileHead .innerBox #mNav .basicMenuBox .basicMenu {
    padding: 20px 20px 100px;
  }
  header .headTop .mobileHead .innerBox #mNav .basicMenuBox .basicMenu li a {
    display: block;
    width: 100%;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 400;
    color: #fff;
  }
  header .headTop .mobileHead .innerBox .mNavBg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9995;
    display: none;
  }
  header .headBottom .myBanner {
    height: 790px;
  }
  header .headBottom .myBanner .innerBox .swiper-button-next, header .headBottom .myBanner .innerBox .swiper-button-prev {
    display: none;
  }
  header .headBottom .myBanner .innerBox .swiper-pagination {
    width: 100%;
  }
  header .headBottom .myBanner .innerBox .swiper-pagination span {
    width: 33.3%;
  }

  #container .themBtn {
    padding-bottom: 0;
  }
  #container .themBtn > .innerBox .men {
    width: 48%;
  }
  #container .themBtn > .innerBox .men a {
    position: relative;
  }
  #container .themBtn > .innerBox .men a .themTitle {
    font-size: 1.5em;
  }
  #container .themBtn > .innerBox .men a .hoverTitle {
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    padding: 150px 20px;
  }
  #container .themBtn > .innerBox .woman {
    width: 48%;
  }
  #container .themBtn > .innerBox .woman a {
    position: relative;
    text-align: center;
  }
  #container .themBtn > .innerBox .woman a .themTitle {
    font-size: 1.5em;
  }
  #container .themBtn > .innerBox .woman a .hoverTitle {
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    padding: 150px 20px;
  }
  #container .themBtn > .innerBox .kids {
    margin-left: 0;
    margin: 10px 0 10px;
    width: 100%;
    height: 180px;
  }
  #container .themBtn > .innerBox .kids a {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  #container .themBtn > .innerBox .kids a .themTitle {
    font-size: 1.5em;
  }
  #container .themBtn > .innerBox .kids a .hoverTitle {
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    padding: 80px 20px;
  }
  #container .themBtn > .innerBox .kids a img {
    position: absolute;
    top: -80px;
  }
  #container .sportsBox .innerBox {
    height: 180px;
  }
  #container .sportsBox .innerBox a {
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  #container .sportsBox .innerBox a .bg {
    display: block;
    position: absolute;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    left: -80px;
  }
  #container .sportsBox .innerBox a .logo {
    left: 35%;
  }
  #container .sportsBox .innerBox a .sportsTitle {
    left: 45%;
  }
  #container .sportsBox .innerBox a .hoverTitle {
    font-size: 1.8em;
    width: 100%;
    height: 100%;
    padding: 80px 20px;
  }
  #container .newProduct {
    padding-bottom: 150px;
  }
  #container .style {
    background-image: none;
    padding-bottom: 50px;
  }
  #container .style .innerBox {
    width: 90%;
    text-align: left;
  }
  #container .style .innerBox .styleTitle {
    font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #333;
    padding: 0;
  }
  #container .style .innerBox .bar {
    display: block;
    margin: 20px 0;
    width: 100px;
    height: 5px;
    background: #333;
  }
  #container .style .innerBox .myStyling {
    overflow: auto;
    width: 110%;
  }
  #container .style .innerBox .myStyling .swiper-wrapper .swiper-slide {
    padding-top: 0;
  }
  #container .style .innerBox .myStyling .swiper-button-next, #container .style .innerBox .myStyling .swiper-button-prev {
    display: none;
  }
  #container .style .innerBox .myStyling .swiper-pagination {
    display: none;
  }
  #container .adiClub {
    height: 400px;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
  }
  #container .adiClub .innerBox a {
    width: 40%;
  }
  #container .siteMap {
    display: none;
  }

  footer .innerBox .footLeft {
    display: none;
  }
  footer .innerBox .footRight {
    width: 100%;
  }
  footer .innerBox .footRight .footMenu {
    display: block;
  }
  footer .innerBox .footRight .footMenu li {
    float: left;
  }
  footer .innerBox .footRight .footMenu li a {
    border-right: none;
    padding-right: 10px;
    padding-left: 0;
  }
  footer .innerBox .footRight address {
    clear: both;
    padding-top: 10px;
    line-height: 1.2;
  }
}
@media (max-width: 425px) {
  header .headTop {
    padding-top: 60px;
  }
  header .headTop .mobileHead {
    padding: 13px 0;
  }
  header .headTop .mobileHead .innerBox .logo a {
    width: 50%;
  }
  header .headTop .mobileHead .innerBox .hamB a {
    width: 30px;
    height: 20.1px;
  }
  header .headTop .mobileHead .innerBox #mNav {
    width: 100%;
  }
  header .headBottom .myBanner {
    height: 500px;
  }

  #container .themBtn {
    padding-top: 50px;
  }
  #container .themBtn .innerBox {
    width: 95%;
  }
  #container .themBtn .innerBox .men a .themTitle {
    font-size: 1em;
  }
  #container .themBtn .innerBox .men a .hoverTitle {
    font-size: 1.2em;
  }
  #container .themBtn .innerBox .woman a .themTitle {
    font-size: 1em;
  }
  #container .themBtn .innerBox .woman a .hoverTitle {
    font-size: 1.2em;
  }
  #container .themBtn .innerBox .kids {
    height: 130px;
  }
  #container .themBtn .innerBox .kids a .themTitle {
    font-size: 1em;
  }
  #container .themBtn .innerBox .kids a .hoverTitle {
    font-size: 1.2em;
    padding: 60px 20px;
  }
  #container .sportsBox {
    padding: 0 0 30px;
  }
  #container .sportsBox .innerBox {
    width: 95%;
    height: 140px;
  }
  #container .sportsBox .innerBox a .logo {
    width: 50px;
    left: 30%;
  }
  #container .sportsBox .innerBox a .sportsTitle {
    font-size: 1.2em;
    left: 45%;
  }
  #container .sportsBox .innerBox a .hoverTitle {
    font-size: 1.2em;
    padding: 60px 20px;
  }
  #container .newProduct {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  #container .newProduct .innerBox .proSwiper .swiper-pagination {
    display: none;
  }
  #container .adiClub {
    height: 300px;
  }
  #container .adiClub .innerBox p {
    width: 80%;
    margin: 0 auto;
    font-size: 1em;
    word-break: keep-all;
    line-height: 1.2;
  }
  #container .adiClub .innerBox a {
    width: 60%;
  }

  footer .innerBox .footLeft {
    display: none;
  }
  footer .innerBox .footRight {
    width: 100%;
  }
  footer .innerBox .footRight .footMenu {
    display: block;
  }

  .bottomNav {
    display: block;
    bottom: -80px;
    -webkit-transition: bottom 0.2s;
    transition: bottom 0.2s;
  }
  .bottomNav.show {
    bottom: 0;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 14px;
  }

  header .headBottom .myBanner {
    height: 450px;
  }

  #container .themBtn > .innerBox .men a .hoverTitle {
    padding: 70px 0;
  }
  #container .themBtn > .innerBox .woman a .hoverTitle {
    padding: 70px 0;
  }
  #container .themBtn > .innerBox .kids a img {
    top: -30px;
  }
  #container .sportsBox .innerBox {
    height: 130px;
  }
  #container .sportsBox .innerBox a .bg {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  #container .sportsBox .innerBox a .logo {
    width: 40px;
    left: 30%;
  }
  #container .sportsBox .innerBox a .sportsTitle {
    left: 45%;
  }
  #container .adiClub .innerBox p {
    width: 60%;
  }
}