@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "nanum";
  src: url("../font/나눔손글씨 강인한 위로.ttf") format("truetype");
}
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  font-size: 18px;
}

.innerBox {
  width: 80%;
  margin: 0 auto;
}

header .headTop {
  position: relative;
}
header .headTop nav {
  position: absolute;
  width: 100%;
  _margin-top: 10px;
  padding: 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #333;
}
header .headTop nav > .innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .headTop nav > .innerBox .logo {
  display: inline-block;
  width: 100px;
}
header .headTop nav > .innerBox .logo a {
  display: block;
  width: 100%;
}
header .headTop nav > .innerBox .logo a img {
  width: 100%;
}
header .headTop nav > .innerBox .gnb {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 999;
}
header .headTop nav > .innerBox .gnb li {
  width: 100%;
  height: 100%;
}
header .headTop nav > .innerBox .gnb li a {
  display: block;
  width: 100%;
  font-size: 1em;
  color: #333;
  padding: 45px 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop nav > .innerBox .gnb li.active a {
  color: skyblue;
}
header .headTop nav > .innerBox .gnb li .lnb {
  display: none;
}
header .headTop nav > .innerBox .gnb li .lnb .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  position: absolute;
  padding-top: 20px;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li {
  width: calc(100% / 5);
}
header .headTop nav > .innerBox .gnb li .lnb .list > li > a {
  display: block;
  width: 100%;
  padding: 30px 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li > a:hover {
  color: skyblue;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li ul li {
  width: 100%;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li ul li a {
  display: block;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8em;
  color: #fff;
}
header .headTop nav > .innerBox .gnb li .lnb .list > li ul li a:hover {
  color: skyblue;
}
header .headTop nav > .innerBox .gnb li .lnb .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 550px;
  width: 70%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
header .headTop nav > .innerBox .gnb li .lnb .all li {
  width: calc(100% / 5);
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop nav > .innerBox .gnb li .lnb .all li a {
  display: block;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 0.8em;
}
header .headTop nav > .innerBox .gnb li .lnb .all li a:hover {
  background: #fff;
  color: #333;
}
header .headTop nav > .innerBox .gnb li .kidsLnb .list {
  padding-bottom: 270px;
}
header .headTop nav > .innerBox .gnb li .sportsLnb .list {
  padding-bottom: 160px;
}
header .headTop nav > .innerBox .gnb li .brandLnb .list {
  padding-bottom: 200px;
}
header .headTop nav > .innerBox .infoBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .headTop nav > .innerBox .infoBtn li {
  width: 90px;
  text-align: center;
}
header .headTop nav > .innerBox .infoBtn li a {
  display: block;
  width: 100%;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headTop nav > .innerBox .infoBtn li a img {
  display: block;
  width: 90%;
}
header .headTop nav > .innerBox .infoBtn li:last-child a {
  border-left: 2px solid #333;
}
header .headTop nav .lnbBg {
  display: none;
  position: absolute;
  width: 100%;
  height: 550px;
  top: 125px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
}
header .headTop .mobileHead {
  display: none;
}
header .headBottom {
  position: relative;
}
header .headBottom .myBanner {
  width: 100%;
  height: 970px;
  position: relative;
  overflow: hidden;
}
header .headBottom .myBanner .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  font-size: 1em;
  position: relative;
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide > .innerBox {
  position: absolute;
  bottom: 50px;
  text-align: left;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide > .innerBox .bannerSub {
  color: #fff;
  font-size: 1em;
  display: block;
  margin-bottom: 5px;
  padding-left: 2px;
}
header .headBottom .myBanner .swiper-wrapper .swiper-slide > .innerBox .bannerTitle {
  color: #fff;
  font-size: 2.2em;
  font-weight: 600;
}
header .headBottom .myBanner > .innerBox {
  position: absolute;
  bottom: 10px;
  height: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
}
header .headBottom .myBanner > .innerBox .swiper-button-next, header .headBottom .myBanner > .innerBox .swiper-button-prev {
  display: inline-block;
  position: absolute;
  left: 300px;
}
header .headBottom .myBanner > .innerBox .swiper-button-next a, header .headBottom .myBanner > .innerBox .swiper-button-prev a {
  display: block;
  width: 50px;
  border: 1px solid #fff;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .headBottom .myBanner > .innerBox .swiper-button-next a img, header .headBottom .myBanner > .innerBox .swiper-button-prev a img {
  display: block;
  width: 10px;
}
header .headBottom .myBanner > .innerBox .swiper-button-next {
  left: 360px;
}
header .headBottom .myBanner > .innerBox .swiper-pagination {
  display: block;
  width: 350px;
  height: 20px;
  position: absolute;
  bottom: 20px;
  z-index: 995;
  text-align: left;
}
header .headBottom .myBanner > .innerBox .swiper-pagination span {
  display: inline-block;
  width: 25%;
  height: 3px;
  background: #fff;
  border-radius: 0;
}
header .headBottom .myBanner > .innerBox .swiper-pagination span.action {
  background: #777;
}

#container .sub {
  width: 100%;
  height: 3300px;
}
#container .sub .innerBox {
  height: 100%;
  padding-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#container .sub .innerBox .naviWrap {
  padding: 100px 15px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .sub .innerBox .naviWrap .navi a:hover {
  color: skyblue;
}
#container .sub .innerBox .naviWrap .prodTitle a {
  display: block;
  width: 100%;
  padding: 20px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2.1em;
  font-weight: 600;
}
#container .sub .innerBox .prodWrap {
  width: 73%;
  height: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .sub .innerBox .prodWrap .prodSW {
  width: 98%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#container .sub .innerBox .prodWrap .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#container .sub .innerBox .prodWrap .swiper .swiper-button-next, #container .sub .innerBox .prodWrap .swiper .swiper-button-prev {
  width: 40px;
}
#container .sub .innerBox .prodWrap .swiper .swiper-button-next {
  background-image: url(../images/prodNext.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #333;
}
#container .sub .innerBox .prodWrap .swiper .swiper-button-prev {
  background-image: url(../images/prodPrev.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #333;
}
#container .sub .innerBox .prodWrap .swiper .swiper-pagination {
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#container .sub .innerBox .prodWrap .swiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 5px;
}
#container .sub .innerBox .prodWrap .swiper .swiper-pagination .swiper-pagination-bullet:active {
  background: #333;
}
#container .sub .innerBox .prodWrap .mTabMenu {
  display: none;
}
#container .sub .innerBox .prodWrap #prodImg {
  width: 98%;
  margin: 100px auto 0;
}
#container .sub .innerBox .prodWrap #prodImg .prodImgTitle {
  width: 100%;
  margin: 50px 0 30px;
  font-size: 1.3em;
  font-weight: 600;
}
#container .sub .innerBox .prodWrap #prodImg .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#container .sub .innerBox .prodWrap #prodImg .imgBox div {
  width: calc(100% / 3);
  padding: 0 10px;
}
#container .sub .innerBox .prodWrap #prodImg .imgBox div a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  overflow: hidden;
}
#container .sub .innerBox .prodWrap #prodImg .imgBox div a img {
  display: block;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#container .sub .innerBox .prodWrap #prodImg .imgBox div a:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#container .sub .innerBox .prodWrap #prodTxt {
  width: 98%;
  margin: 0 auto;
  padding: 30px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .sub .innerBox .prodWrap #prodTxt p {
  line-height: 1.5;
  text-align: justify;
}
#container .sub .innerBox .prodWrap #prodTxt p:nth-child(1) {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 0 10px;
  word-break: keep-all;
}
#container .sub .innerBox .prodWrap #prodTxt p:nth-child(2) {
  font-size: 0.9em;
}
#container .sub .innerBox .prodWrap #prodSpec {
  width: 98%;
  margin: 0 auto;
}
#container .sub .innerBox .prodWrap #prodSpec .specTitle {
  font-size: 1.3em;
  font-weight: 600;
  margin: 100px 0 20px;
}
#container .sub .innerBox .prodWrap #prodSpec ul {
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .sub .innerBox .prodWrap #prodSpec ul li {
  list-style: circle;
  padding: 5px 0;
  line-height: 1.3;
  font-size: 0.9em;
}
#container .sub .innerBox .prodWrap #prodSpec table {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  border: 1px solid #333;
  border-collapse: collapse;
}
#container .sub .innerBox .prodWrap #prodSpec table tr td {
  border: 1px solid #333;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.3;
  font-size: 0.9em;
}
#container .sub .innerBox .prodWrap #prodSpec table tr td:first-child {
  background-color: #e0f0f7;
}
#container .sub .innerBox .prodWrap #prodSpec table tr td:last-child {
  width: 60%;
  background-color: #fff;
}
#container .sub .innerBox .prodWrap #prodReview {
  width: 98%;
  margin: 0 auto;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .sub .innerBox .prodWrap #prodReview .revTitle {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0 0 10px;
}
#container .sub .innerBox .prodWrap #prodReview ul li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #333;
}
#container .sub .innerBox .prodWrap #prodReview ul li a {
  text-indent: 15px;
  display: inline-block;
  width: 100%;
  padding: 35px 0;
  font-size: 0.9em;
}
#container .sub .innerBox .prodWrap #prodReview ul li a span:first-child {
  float: left;
}
#container .sub .innerBox .prodWrap #prodReview ul li a span:last-child {
  float: right;
  padding-right: 30px;
}
#container .sub .innerBox .prodWrap #prodReview ul li a span b {
  color: #235cb1;
  font-weight: 600;
}
#container .sub .innerBox .prodWrap #prodReview ul li a:hover {
  background-color: #c8eaf5;
}
#container .sub .innerBox .tabMenu {
  width: 26%;
  height: 100%;
  border-left: 1px solid #999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .sub .innerBox .tabMenu .sticky {
  width: 100%;
  padding: 30px;
  padding-left: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}
#container .sub .innerBox .tabMenu .sticky .titleBox .subTitle {
  font-size: 0.8em;
  margin-bottom: 10px;
}
#container .sub .innerBox .tabMenu .sticky .titleBox .mainTitle {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
  word-break: keep-all;
  line-height: 1.2;
}
#container .sub .innerBox .tabMenu .sticky .titleBox .main {
  position: relative;
  margin-top: 20px;
}
#container .sub .innerBox .tabMenu .sticky .titleBox .main .price {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  margin-right: 10px;
}
#container .sub .innerBox .tabMenu .sticky .titleBox .main .zzim {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background-image: url(../images/heart.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}
#container .sub .innerBox .tabMenu .sticky .titleBox .main .zzim.active {
  background-image: url(../images/heart_click.png);
}
#container .sub .innerBox .tabMenu .sticky .sizeBox {
  width: 70%;
  height: 50px;
  margin-top: 30px;
}
#container .sub .innerBox .tabMenu .sticky .sizeBox select {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
}
#container .sub .innerBox .tabMenu .sticky .basketBtn, #container .sub .innerBox .tabMenu .sticky .buyBtn {
  width: 70%;
  margin-top: 10px;
}
#container .sub .innerBox .tabMenu .sticky .basketBtn a, #container .sub .innerBox .tabMenu .sticky .buyBtn a {
  display: block;
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #333;
  color: #fff;
  font-size: 0.8em;
}
#container .sub .innerBox .tabMenu .sticky .basketBtn a:hover, #container .sub .innerBox .tabMenu .sticky .buyBtn a:hover {
  background: #a5c5eb;
  color: #333;
}
#container .sub .innerBox .tabMenu .sticky .menuList {
  margin-top: 20px;
}
#container .sub .innerBox .tabMenu .sticky .menuList ul li {
  list-style: circle;
  margin-left: 25px;
}
#container .sub .innerBox .tabMenu .sticky .menuList ul li a {
  display: block;
  width: 100%;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.8em;
}

footer {
  width: 100%;
  background: #333;
  padding: 50px 0;
}
footer .innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
footer .innerBox .footLeft {
  width: 19%;
  text-align: center;
}
footer .innerBox .footRight {
  width: 75%;
}
footer .innerBox .footRight .footMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .innerBox .footRight .footMenu li a {
  display: block;
  width: 100%;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 0.8em;
  font-weight: 600;
  border-right: 1px solid #fff;
}
footer .innerBox .footRight .footMenu li:first-child a {
  padding-left: 0;
}
footer .innerBox .footRight .footMenu li:last-child a {
  border-right: 0;
}
footer .innerBox address p {
  font-size: 0.8em;
  color: #fff;
  margin-top: 10px;
}
footer .innerBox address p:last-child {
  color: #999;
}

.bottomNav {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9993;
  width: 100%;
  height: 75px;
  background: #fff;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.bottomNav .bottomGnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottomNav .bottomGnb li {
  width: calc(100% / 5);
}
.bottomNav .bottomGnb li a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.bottomNav .bottomGnb li a img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.bottomNav .bottomGnb li a span {
  display: block;
  width: 100%;
  font-size: 0.8em;
  margin-top: 5px;
  text-align: center;
}

@media (max-width: 1440px) {
  body {
    font-size: 17px;
  }

  #container .sub .innerBox .tabMenu .sticky .sizeBox, #container .sub .innerBox .tabMenu .sticky .basketBtn, #container .sub .innerBox .tabMenu .sticky .buyBtn {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  body {
    font-size: 16px;
  }

  #container .sub .innerBox .tabMenu .sticky {
    padding: 30px 0 0 20px;
  }
  #container .sub .innerBox .tabMenu .sticky .sizeBox, #container .sub .innerBox .tabMenu .sticky .basketBtn, #container .sub .innerBox .tabMenu .sticky .buyBtn {
    margin-right: 0;
    width: 100%;
  }
  #container .sub .innerBox .tabMenu .sticky .sizeBox a, #container .sub .innerBox .tabMenu .sticky .basketBtn a, #container .sub .innerBox .tabMenu .sticky .buyBtn a {
    font-size: 0.6em;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  header {
    border-bottom: 1px solid #333;
  }
  header .headTop {
    padding-top: 100px;
  }
  header .headTop nav {
    display: none;
    margin-top: 0;
    padding-bottom: 0;
  }
  header .headTop .mobileHead {
    display: block;
    position: absolute;
    top: 0;
    padding: 25px 0;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox {
    width: 90%;
  }
  header .headTop .mobileHead .innerBox .logo {
    float: left;
  }
  header .headTop .mobileHead .innerBox .logo a {
    display: block;
    width: 70px;
  }
  header .headTop .mobileHead .innerBox .logo a img {
    display: block;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox .hamB {
    float: right;
  }
  header .headTop .mobileHead .innerBox .hamB a {
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 55%;
    width: 35px;
    height: 23.5px;
    background-image: url(../images/hamberger.png);
    background-size: 100%;
    margin-top: -15.5px;
    font-size: 3em;
    z-index: 997;
  }
  header .headTop .mobileHead .innerBox .hamB a:hover {
    background-position: left bottom;
  }
  header .headTop .mobileHead .innerBox #mNav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    background: #333;
    z-index: 9999;
    display: block;
    overflow: auto;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox {
    position: relative;
    width: 100%;
    height: 150px;
    background: #333;
    z-index: 9999;
    padding: 30px 20px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .menuLogo {
    width: 60px;
    float: left;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .menuLogo a {
    display: block;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .menuLogo a img {
    display: block;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mSearch {
    clear: both;
    width: 100%;
    height: 40px;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mSearch input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1em;
    font-weight: 500;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mSearch i {
    position: absolute;
    top: 40px;
    right: 10px;
    font-size: 1.2em;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mClose {
    text-align: right;
    width: 30px;
    float: right;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mClose a {
    display: block;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox #mNav .mTitleBox .mClose a img {
    padding: 3px 0;
    width: 100%;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb {
    display: block;
    width: 100%;
    background: #333;
    z-index: 9998;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li {
    padding: 0 20px;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li > a {
    font-size: 1em;
    color: #fff;
    display: block;
    line-height: 3;
    background-image: url(../images/gnbArrow_downW.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    border-bottom: 1px solid #999;
    padding: 5px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-weight: 600;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li > a.active {
    background-image: url(../images/gnbArrow_upW.png);
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li:last-child > a {
    background-image: none;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li:last-child > a.active {
    background-image: none;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub {
    display: none;
    background: #555;
    position: static;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub > li > a {
    display: block;
    color: #fff;
    line-height: 2;
    text-indent: 20px;
    border-bottom: 1px solid #fff;
    background-image: url(../images/mSubArrow_down.png);
    background-repeat: no-repeat;
    background-position: 95% center;
    border-bottom: 1px solid #999;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 0.9em;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub > li > a.active {
    background-image: url(../images/mSubArrow_up.png);
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub > li .mThird {
    display: none;
    background: #fff;
  }
  header .headTop .mobileHead .innerBox #mNav #mGnb > li .mSub > li .mThird li a {
    display: block;
    color: #333;
    line-height: 2;
    text-indent: 30px;
    border-bottom: 1px solid #333;
    font-size: 0.8em;
    padding: 10px 0;
  }
  header .headTop .mobileHead .innerBox #mNav .basicMenuBox {
    width: 100%;
    _height: 0;
    background: #333;
    z-index: 9999;
  }
  header .headTop .mobileHead .innerBox #mNav .basicMenuBox .basicMenu {
    padding: 20px 20px 100px;
  }
  header .headTop .mobileHead .innerBox #mNav .basicMenuBox .basicMenu li a {
    display: block;
    width: 100%;
    padding: 8px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 400;
    color: #fff;
  }
  header .headTop .mobileHead .innerBox .mNavBg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9995;
    display: none;
  }
  header .headBottom .myBanner {
    height: 790px;
  }
  header .headBottom .myBanner .innerBox .swiper-button-next, header .headBottom .myBanner .innerBox .swiper-button-prev {
    display: none;
  }
  header .headBottom .myBanner .innerBox .swiper-pagination {
    width: 100%;
  }
  header .headBottom .myBanner .innerBox .swiper-pagination span {
    width: 33.3%;
  }

  #container .sub {
    height: 100%;
  }
  #container .sub .innerBox {
    padding-top: 0;
    width: 90%;
    display: block;
  }
  #container .sub .innerBox .prodWrap {
    width: 100%;
  }
  #container .sub .innerBox .prodWrap .naviWrap {
    padding: 50px 15px 40px;
  }
  #container .sub .innerBox .prodWrap .prodSW {
    height: 300px;
  }
  #container .sub .innerBox .prodWrap #prodReview {
    margin-bottom: 100px;
  }
  #container .sub .innerBox .prodWrap .mTabMenu {
    display: block;
    padding: 30px 10px 0;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .titleBox .subTitle {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .titleBox .mainTitle {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    word-break: keep-all;
    line-height: 1.2;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .titleBox .main {
    position: relative;
    margin-top: 20px;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .titleBox .main .price {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    margin-right: 10px;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .titleBox .main .zzim {
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    background-image: url(../images/heart.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .titleBox .main .zzim.active {
    background-image: url(../images/heart_click.png);
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .sizeBox {
    width: 99.5%;
    height: 40px;
    margin-top: 30px;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .sizeBox select {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    border-radius: 0;
    -webkit-border-radius: 0;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .basketBtn, #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .buyBtn {
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: 49.5%;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .basketBtn a, #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .buyBtn a {
    display: block;
    width: 100%;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #333;
    color: #fff;
    font-size: 0.8em;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .basketBtn a:hover, #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .buyBtn a:hover {
    background: #a5c5eb;
    color: #333;
  }
  #container .sub .innerBox .tabMenu {
    display: none;
  }

  footer .innerBox .footLeft {
    display: none;
  }
  footer .innerBox .footRight {
    width: 100%;
  }
  footer .innerBox .footRight .footMenu {
    display: block;
  }
  footer .innerBox .footRight .footMenu li {
    float: left;
  }
  footer .innerBox .footRight .footMenu li a {
    border-right: none;
    padding-right: 10px;
    padding-left: 0;
  }
  footer .innerBox .footRight address {
    clear: both;
    padding-top: 10px;
    line-height: 1.2;
  }
}
@media (max-width: 425px) {
  header .headTop {
    padding-top: 60px;
  }
  header .headTop .mobileHead {
    padding: 13px 0;
  }
  header .headTop .mobileHead .innerBox .logo a {
    width: 50px;
  }
  header .headTop .mobileHead .innerBox .hamB a {
    top: 35.5px;
    width: 30px;
    height: 20.1px;
  }
  header .headTop .mobileHead .innerBox #mNav {
    width: 100%;
  }
  header .headBottom .myBanner {
    height: 500px;
  }

  #container .sub .innerBox {
    width: 100%;
  }
  #container .sub .innerBox .prodWrap {
    padding-top: 0;
  }
  #container .sub .innerBox .prodWrap .naviWrap {
    padding: 0;
  }
  #container .sub .innerBox .prodWrap .naviWrap .navi {
    padding: 25px 15px 25px;
  }
  #container .sub .innerBox .prodWrap .naviWrap .prodTitle {
    display: none;
  }
  #container .sub .innerBox .prodWrap .prodSW {
    width: 100%;
    border: none;
  }
  #container .sub .innerBox .prodWrap .prodSW .swiper-button-next, #container .sub .innerBox .prodWrap .prodSW .swiper-button-prev {
    display: none;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .titleBox .mainTitle {
    font-size: 1.5em;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .titleBox .main .price {
    font-size: 1.1em;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .titleBox .main .zzim {
    width: 25px;
    height: 25px;
  }
  #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .basketBtn, #container .sub .innerBox .prodWrap .mTabMenu .innerWrap .buyBtn {
    width: 100%;
  }
  #container .sub .innerBox .prodWrap #prodImg {
    display: none;
    margin: 0;
    padding: 10px 15px 10px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #container .sub .innerBox .prodWrap #prodImg .prodImgTitle {
    margin: 10px 0;
  }
  #container .sub .innerBox .prodWrap #prodTxt {
    width: 100%;
    margin: 0;
    padding: 40px 20px 0;
    margin-right: 0;
  }
  #container .sub .innerBox .prodWrap #prodTxt p:nth-child(1) {
    margin-top: 0;
  }
  #container .sub .innerBox .prodWrap #prodSpec {
    width: 100%;
    margin: 0;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #container .sub .innerBox .prodWrap #prodSpec .specTitle {
    margin: 80px 0 20px;
  }
  #container .sub .innerBox .prodWrap #prodSpec table tr td:last-child {
    padding: 10px 15px;
    word-break: keep-all;
  }
  #container .sub .innerBox .prodWrap #prodReview {
    width: 100%;
    margin: 80px 0 0 0;
    padding: 0 20px;
  }
  #container .sub .innerBox .prodWrap #prodReview ul {
    margin-bottom: 80px;
  }
  #container .sub .innerBox .prodWrap #prodReview ul li a {
    text-indent: 0;
    padding: 15px 0 6px;
  }
  #container .sub .innerBox .prodWrap #prodReview ul li a span {
    display: block;
  }
  #container .sub .innerBox .prodWrap #prodReview ul li a span:first-child {
    width: 50%;
    padding-left: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  #container .sub .innerBox .prodWrap #prodReview ul li a span:last-child {
    padding-right: 5px;
  }

  footer .innerBox {
    width: 90%;
  }
  footer .innerBox .footLeft {
    display: none;
  }
  footer .innerBox .footRight {
    width: 100%;
  }
  footer .innerBox .footRight .footMenu {
    display: block;
  }

  .bottomNav {
    display: block;
    bottom: -80px;
    -webkit-transition: bottom 0.2s;
    transition: bottom 0.2s;
  }
  .bottomNav.show {
    bottom: 0;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 14px;
  }

  header .headBottom .myBanner {
    height: 450px;
  }

  #container .themBtn > .innerBox .men a .hoverTitle {
    padding: 70px 0;
  }
  #container .themBtn > .innerBox .woman a .hoverTitle {
    padding: 70px 0;
  }
  #container .themBtn > .innerBox .kids a img {
    top: -30px;
  }
  #container .sportsBox .innerBox {
    height: 130px;
  }
  #container .sportsBox .innerBox a .bg {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  #container .adiClub .innerBox p {
    width: 60%;
  }
}